#bear {
    position: absolute;
    left: 100px;
    top: 240px;
    width: 100px;
    height: 160px
}

#board {
    position: absolute;
    height: 600px;
    width: 99%;
    background-color: rgb(6, 136, 119);
    align-content: center;
    align-self: center;
}

#title {
    background-color: rgb(177, 38, 38);
    border-style: solid;
    border-color: black;
    border-top: 1em;
    align-content: center;
    align-self: center;
}

#scores {
    border-top: 1em ;
    border-color: black;
    border-style: solid;
    background-color: rgb(139, 108, 60);
    align-content: center;
    align-self: center;
}

.location {
    color: green;
}

#hits {
    color: rgb(243, 243, 243);
    font-family: Verdana;
}
ps1{
    font-family: Impact;
    position: relative;
    left: 35em;
    align-content: center;
    align-self: center;
    color: black;
}
ps2{
    font-family: Impact;
    position: relative;
    left: 50em;
    align-content: center;
    align-self: center;
    color: black;
}
p{
    font-family: Verdana;
}

#duration {
    color: rgb(252, 252, 252);
    font-family: Verdana;
}

body {
    background-color: black;
}
